.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.movieCard {
    border: 1px solid black;
}

.movieCard a {
    text-decoration: none;
}

.title {
    text-align: center;
    color: black;
}